Metadata Statement

https://github.com/solokeys/solo/issues/89

Updated metadata with the current values for FIDO2.
To correct `attestationCertificateKeyIdentifiers` for U2F part.
> attestationCertificateKeyIdentifiers of type array of DOMString
    A list of the attestation certificate public key identifiers encoded as hex string. This value MUST be calculated according to method 1 for computing the keyIdentifier as defined in [RFC5280] section 4.2.1.2. The hex string MUST NOT contain any non-hex characters (e.g. spaces). All hex letters MUST be lower case. This field MUST be set if neither aaid nor aaguid are set. Setting this field implies that the attestation certificate(s) are dedicated to a single authenticator model.
    All attestationCertificateKeyIdentifier values should be unique within the scope of the Metadata Service. 

See:
- https://fidoalliance.org/specs/fido-v2.0-rd-20180702/fido-metadata-statement-v2.0-rd-20180702.html
- https://www.ietf.org/rfc/rfc5280.txt